<div class="container-fluid">
  <div class="contact row pt-2">
    <div class="col-12 col-md-4">
      <span class="p-1"><i class="fas fa-phone p-1"></i>050-677-0162</span>
      <span class="p-1"><i class="fab fa-facebook-square p-1"></i><a href="https://www.facebook.com/brikhome/?ref=br_rs" style="text-decoration: none" class="contact">Brik</a></span>

    </div>
  </div>
  <div class=" d-flex justify-content-center">
      <div class="banner col-sm-12 col-md-9 col-lg-5" [ngStyle]="{'background-image': getUrl()}">
      </div>
        <!-- <img [attr.src]="imgSrc" style="width: 80%; min-height: 40%;" alt="Responsive image"> -->

      
  </div>

<div style="margin-top: -10px" class="d-flex flex-column flex-sm-row justify-content-center mt-3">
    <div class="btn-contain col-md-3">
        <div class="btn-skew-contain">
          <a routerLink="/gallery" href="http://mediamilitia.com" class="btn-skew">
            <span>לגלריית המוצרים</span>
          </a>
        </div>
      </div>
      <div class="btn-contain col-md-3">
        <div class="btn-skew-contain">
          <a routerLink="/aboutus" href="http://mediamilitia.com" class="btn-skew">
            <span>אודות החברה</span>
          </a>
        </div>
      </div>
      <div class="btn-contain col-md-3">
        <div class="btn-skew-contain">
          <a routerLink="/aboutus" href="http://mediamilitia.com" class="btn-skew">
            <span>יצירת קשר</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">

      </div>
    </div>
</div>

