<div class="container-fluid">
  <div class=" d-flex justify-content-center">
      <div class="banner col-sm-12 col-md-9 col-lg-7" [ngStyle]="{'background-image': getUrl()}">
      </div>
        <!-- <img [attr.src]="imgSrc" style="width: 80%; min-height: 40%;" alt="Responsive image"> -->

      
  </div>

<div style="margin-top: -10px" class="d-flex flex-column flex-sm-row justify-content-center mt-3">
    <div class="btn-contain col-md-4">
        <div class="btn-skew-contain">
          <a routerLink="/gallery" href="http://mediamilitia.com" class="btn-skew">
            <span>לגלריית המוצרים</span>
          </a>
        </div>
      </div>
      <div class="btn-contain col-md-4">
        <div class="btn-skew-contain">
          <a routerLink="/aboutus" href="http://mediamilitia.com" class="btn-skew">
            <span>אודות החברה</span>
          </a>
        </div>
      </div>
    </div>
</div>
