<div class="container">
        <h4 class="text-center p-2" style="color:white">אודות החברה</h4>
   <p class="p-2"style="color: #C9C9C9; text-align: right; direction: rtl;">
    אנחנו "בריק" , <br>
    יבואנים ומשווקים של אקססוריז לבית וריהוט משלים משנת 2015.<br class="br-on-mobile"/>
    החברה הוקמה על ידנו, זאב ואור בריקמן, אבא ובן, כשהחלטנו להפוך אהבה אמיתית<br class="br-on-mobile"/> לעיצוב - למקצוע.
    תוך זמן קצר התרחבנו והתפתחנו וכיום אנחנו גאים לספק את המוצרים והשירותים שלנו לכ-200 סניפים בכל רחבי הארץ.<br class="br-on-mobile"/>
    את המוצרים שלנו אנחנו בוחרים בקפידה תוך שמירה על איכות,שימושיות,ונראות מירביות.
     מכלל מוצרנו ניתן למצוא מראות, שעונים, מנורות, כורסאות, פרחים ושלל מוצרים שישדרגו כל בית.
     לקהל לקוחתינו הפרטי, אנו מחזקים בחנות קונספט בשם "המרתף",<br class="br-on-mobile"/>
     הרצל 4, גן יבנה.
     <br>
     <br>
     יצירת קשר:<br>
     זאב - 0545401307<br>
     אור - 0506770162<br>
     חנות - 086289737 <br>
     <br>
     אנחנו כאן, אתם מוזמנים!
   </p>

   <!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng"  [zoom]="zoom"> 
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>
