<div class="container">

  <div class="row">
  
   
    <div class="container1 col-12 col-md-6 col-lg-3 p-1">
        <div class=" text-mobile">רהיטים</div>
        <a routerLink="/gallery/fornitures">
          <img src="assets/fornitures-thumb.jpg" alt="" style="width: 100%">
            <div class="overlay">
              <div class="text">רהיטים</div>
            </div>
        </a>
    </div>
    <div class="container1 col-12 col-md-6 col-lg-3 p-1">
      <div class=" text-mobile">אקססוריז</div>
      <a routerLink="/gallery/accessories">
        <img src="assets/accessories-thumb.jpg" alt="" style="width: 100%">
          <div class="overlay">
            <div class="text">אקססוריז</div>
          </div>
      </a>
  </div>
  <div class="container1 col-12 col-md-6 col-lg-3 p-1">
    <div class=" text-mobile">נרות</div>
    <a routerLink="/gallery/candles">
      <img src="assets/candles-thumb.jpg" alt="" style="width: 100%">
        <div class="overlay">
          <div class="text">נרות</div>
        </div>
    </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">שעונים</div>
  <a routerLink="/gallery/clocks">
    <img src="assets/clocks-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">שעונים</div>
      </div>
  </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">מארזי מתנה</div>
  <a routerLink="/gallery/giftpacks">
    <img src="assets/giftpacks-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">מארזי מתנה</div>
      </div>
  </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">זכוכיות</div>
  <a routerLink="/gallery/glasses">
    <img src="assets/glasses-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">זכוכיות</div>
      </div>
  </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">תמונות</div>
  <a routerLink="/gallery/hanging">
    <img src="assets/hanging-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">תמונות</div>
      </div>
  </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">מראות</div>
  <a routerLink="/gallery/mirrors">
    <img src="assets/mirrors-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">מראות</div>
      </div>
  </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">כריות</div>
  <a routerLink="/gallery/pillows">
    <img src="assets/pillows-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">כריות</div>
      </div>
  </a>
</div>
<div class="container1 col-12 col-md-6 col-lg-3 p-1">
  <div class=" text-mobile">עציצים</div>
  <a routerLink="/gallery/plants">
    <img src="assets/plants-thumb.jpg" alt="" style="width: 100%">
      <div class="overlay">
        <div class="text">עציצים</div>
      </div>
  </a>
</div>

  </div>
</div>
<router-outlet></router-outlet>
